body {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======
    background-color:rgb(231, 206, 172);
    
>>>>>>> cd6b01f89e4e49b1947be97d3f1717f2a3ba5fb4
}

header {
    text-align: center;
<<<<<<< HEAD
    width: 500px;
    margin: auto;
}
main {
    width: 500px;
    margin: auto;
}
ul {
    list-style-type: none;
}
=======
    width: 1200px;
    margin: auto;
}

header img {
    width: 400px;
    margin-bottom: 51.6px;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 5rem;
    color:royalblue
}

h2 {
    font-family: 'Fira Sans', sans-serif;
}

main {
    color: rgb(221, 207, 194);
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-radius: 30px;
    background-color: rgb(145, 172, 172);
    width: 1000px;
    margin: auto;
    box-shadow:  3px 5px 5px rgb(70, 64, 64);
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 14px 0 ;
    padding-left: 10px;
    border-left: 5px solid transparent;
}


footer {
    text-align: center;
    width: 1000px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    margin: 3rem auto;
}

button {
    background-color: darkgreen;
    color: darkgrey;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 4px 5px 5px  black;

}

.highlight {
    background-color:rgb(245, 143, 125);
    border-radius: 5px;
    padding: 0 4px;
}

.brdrleft{
    border-color: rgb(231, 206, 172);
}

>>>>>>> cd6b01f89e4e49b1947be97d3f1717f2a3ba5fb4
